.main {
  height: auto;
  width: 100%;
  background-color: #e8f2f7;
}

.body {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0 15px;

  @media (max-width: 1100px) {
    max-width: 100%;
  }
  @media (max-width: 425px) {
    max-width: 100%;
  }
}

.content {
  padding: 20px;
  min-height: 140px;

  @media (max-width: 768px) {
    padding: 15px;
    min-height: 120px;
  }
}

.image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100px;
  height: 120px;
  border-radius: 12px;
  background-color: #eaeaea;

  @media (max-width: 768px) {
    width: 80px;
    height: 100px;
  }
  @media (max-width: 480px) {
    width: 70px;
    height: 90px;
    margin: 0 auto;
  }
}

.name {
  color: #11a2f3;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;

  @media (max-width: 768px) {
    font-size: 18px;
  }

  @media (max-width: 480px) {
    font-size: 16px;
    text-align: center;
  }
}

.treatment {
  overflow: hidden;
  color: var(--text-web, #003553);
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-family: Roboto, sans-serif !important;
  line-height: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 4px;

  @media (max-width: 768px) {
    font-size: 14px;
  }

  @media (max-width: 480px) {
    text-align: center;
    margin-bottom: 8px;
  }
}

.content-btn {
  padding: 0px 30px;
  border-radius: 999px;
  height: 36px;
  color: #fff !important;

  @media (max-width: 768px) {
    padding: 0px 20px;
    height: 32px;
    font-size: 14px;
  }

  @media (max-width: 480px) {
    width: 100%;
    margin-bottom: 8px;
  }
}

.content-btn:first-child {
  background: linear-gradient(83.63deg, var(--blue-color) 33.34%, #00e0ff 113.91%);
  color: #fff;

  &:hover {
    box-shadow: 0 4px 30px 0 rgba(116, 157, 206, 0.2);
    color: #fff;
    background: linear-gradient(83.63deg, #07aae0, #239ecd) !important;
  }
}

.content-btn:last-child {
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
  background-color: #fff;
  &:hover {
    background: linear-gradient(83.63deg, #d5f3fd, #f0f2f2);
  }
}

.active {
  background: linear-gradient(84.69deg, var(--blue-color) 33.56%, #00e0ff 111.25%);
  color: #fff;

  &:hover {
    color: #fff;
  }
}

// docter view
.frame {
  display: flex;
  align-items: center;
  background-color: #eff6ff;
  justify-content: space-between;
  padding: 12px 14px;
  width: 100%;

  @media (max-width: 768px) {
    padding: 10px;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.frame-left-address {
  color: var(--grey-text, #858585);

  @media (max-width: 768px) {
    font-size: 14px;
  }

  @media (max-width: 480px) {
    width: 100%;
    text-align: left;
  }
}

.banner {
  background-image: url('https://medpro.vn/_next/image?url=https%3A%2F%2Fbo-api.medpro.com.vn%2Fstatic%2Fimages%2Fmedpro%2Fweb%2Fsalebooking.png&w=384&q=75');
  width: 100%;
  height: 588px;
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: 1024px) {
    height: 450px;
  }

  @media (max-width: 768px) {
    height: 350px;
  }
}
